@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

body {
  background-color: antiquewhite;
  font-family: 'Rubik', sans-serif;
  color: black;
  font-size: smaller;
  line-height: 200%;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: larger;
  line-height: 200%;
}
h3{font-family: 'Rubik', sans-serif;
  font-size: smaller;
  line-height: 200%;

}
h5 {
  font-family: 'Rubik', sans-serif;
  font-size: smaller;
  line-height: 200%;
}
a {
  font-family: 'Rubik', sans-serif;
  color: black;
  font-size: larger;
  text-decoration: none;
}
a:hover {
  background-color: rgb(0, 0, 0);
  transition-delay:1s;
}

.card {
  background-color: rgb(240, 237, 156);
  padding: 50px 100px;
  text-align: center;
  margin: 20px;
}

.btn-orange {
  background-color: aliceblue;
  color: black;
  padding: 20px 50px;
  border-radius: 20px;

}

.img-circle {
  padding: 20px 50px;
  border-radius: 100px;
  object-fit: cover;

}
.container{
  margin: 30px;
}
.list-inline{
  list-style: none;
  padding-left: 0px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
